/* Importing fonts from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Open+Sans&family=Roboto&family=Ubuntu&display=swap');

:root {
    --primary-color: #31525B;
    --secondary-color: #B3DEE5;
    --tertiary-color: #FFA101;
    --quarterny-color: #FAE6B1;
    --quinary-color: #eee;
    --senary-color: #3A4145;
    --link-hover-text-color: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--quinary-color);
    font-family: "Roboto", "Ubuntu", "Open Sans", "Nunito Sans", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/* Header section styles start */

header {
    background-color: var(--primary-color);
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h2 {
    font-size: 36px;
    justify-content: center;
}

header h2 a {
    text-decoration: none;
    color: var(--quarterny-color);
}

header nav {
    margin: 8px 0;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

header nav ul li a {
    text-decoration: none;
    color: var(--quarterny-color);
    margin: 5px 0;
    padding: 10px 15px;    
    font-size: 22px;
}

header nav ul li a:hover {
    background-color: var(--secondary-color);
    border-radius: 10px;
    color: var(--link-hover-text-color);
}

/* Header section styles end */


/* Hero section styles start */

.hero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 30px 0;
    align-items: center;
    background-color: var(--secondary-color);
}

.hero img {
    object-fit: cover;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.75 );
}

.hero h1 {
    color: var(--senary-color);
    font-size: 48px;
    margin: 10px 0;
}

.hero p {
    font-size: 18px;
    font-weight: bold;
}

/* Hero section styles end */


/* About me section styles start */

#about-me {
    display: flex;
    width: 75%;
    margin: 20px auto;
}

#about-me h2 {
    text-align: right;
    font-size: 36px;
    color: var(--primary-color);
    border-right: 5px solid var(--primary-color);
    padding: 5px 20px;
}

#about-me p {
    margin: auto 20px;
}

/* About me section styles end */


/* Projects section style starts */

#projects {
    display: flex;
    width: 75%;
    margin: 40px auto;
}

#projects h2 {
    font-size: 34px;
    color: var(--primary-color);
    border-right: 5px solid var(--primary-color);
    padding: 5px 11px 5px 0;
}

#projects div {
    margin: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#projects article {
    position: relative;
    margin: 20px 0;
}

#projects article img {
    opacity: 85%;
    border: 5px solid var(--secondary-color);
    object-fit: fill;
}

#projects article:first-child img {
    max-width: 100%;
    width: fit-content;
    min-height: 300px;
}

#projects article img:hover{
    opacity: 100%;
}

#projects article div {
    margin: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 10%;
    left: 0%;
    background-color: var(--secondary-color);
    padding: 10px 10px 10px 30px;
}

#projects article div p {
    font-size: 14px;
    padding: 2px 0;
}

/* Projects section style ends */


/* Contact section style starts */

#contact {
    display: flex;
    width: 75%;
    margin: 40px auto;
}

#contact h2 {
    color: var(--primary-color);
    font-size: 35px;
    border-right: 5px solid var(--primary-color);
    padding: 5px 13px 5px 0;
}

#contact div {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#contact div p a {
    text-decoration: none;
    color: var(--senary-color);
    padding: 10px 5px 5px 5px;
    border-bottom: 5px solid var(--secondary-color); 
}

#contact div p {
    font-size: 20px;
    font-weight: bold;
       
}

#contact div a:hover {
    background-color: var(--secondary-color);
    border-radius: 10px;
    color: var(--link-hover-text-color);
}

/* Contact section style ends */


/* Footer section styles start */

footer {
    background-color: var(--primary-color);
    display: flex;
    color: var(--quarterny-color);
    padding: 10px;
    justify-content: space-between;
}

footer div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Footer section style ends */

@media screen and (max-width: 768px){

    /* Header style starts */

    header {
        flex-direction: column;
        align-items: center;
    }    

    /* Header style ends */

    /* About me section style starts */

    #about-me {        
        flex-direction: column;
        align-items: center;
    }

    #about-me h2 {
        border-right: none;
        border-bottom: 5px solid var(--primary-color);
        padding-bottom: 0;
        margin-bottom: 10px;
    }

    /* About me section style ends */


    /* Projects section style starts */

    #projects {
        flex-direction: column;
        align-items: center;
    }
    
    #projects h2 {
        border-right: none;
        border-bottom: 5px solid var(--primary-color);
        padding: 5px 20px;
    }

    #projects article {
        margin: 20px auto;
    }
    
    /* Projects section style ends */

    /* Contacts section style starts */

    #contact {
        flex-direction: column;
        align-items: center;
    }
    
    #contact h2 {
        border-right: none;
        border-bottom: 5px solid var(--primary-color);
        padding: 5px 20px;
        margin-bottom: 20px;
    }

    /* Contacts section style ends */


    /* Footer section style starts */

    footer {
        flex-direction: column;
        align-items: center;
    }

    /* Footer section style ends */
}
