/* Importing fonts from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Open+Sans&family=Roboto&family=Ubuntu&display=swap');

:root {
    --primary-color: #31525B;
    --secondary-color: #B3DEE5;
    --tertiary-color: #FFA101;
    --quarterny-color: #FAE6B1;
    --quinary-color: #eee;
    --senary-color: #3A4145;
    --link-hover-text-color: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--quinary-color);
    font-family: "Roboto", "Ubuntu", "Open Sans", "Nunito Sans", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/* Header section styles start */

header {
    background-color: var(--primary-color);
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h2 {
    font-size: 36px;
    justify-content: center;
}

header h2 a {
    text-decoration: none;
    color: var(--quarterny-color);
}

header nav {
    margin: 8px 0;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

header nav ul li a {
    text-decoration: none;
    color: var(--quarterny-color);
    margin: 5px 0;
    padding: 10px 15px;    
    font-size: 22px;
}

header nav ul li a:hover {
    background-color: var(--secondary-color);
    border-radius: 10px;
    color: var(--link-hover-text-color);
}

/* Header section styles end */


/* Hero section styles start */

.hero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 30px 0;
    align-items: center;
    background-color: var(--secondary-color);
}

.hero img {
    object-fit: cover;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.75 );
}

.hero h1 {
    color: var(--senary-color);
    font-size: 48px;
    margin: 10px 0;
}

.hero p {
    font-size: 18px;
}

/* Hero section styles end */


/* About me section styles start */

.about-me {
    display: flex;
    margin: 20px auto;
    width: 75%;
}

.about-me h2 {
    text-align: right;
    font-size: 36px;
    color: var(--primary-color);
    border-right: 5px solid var(--primary-color);
    padding: 10px 20px;
}

.about-me p {
    margin: auto 20px;
}

/* About me section styles end */



/* @media screen and (max-width: 575px) {
    header {
        justify-content: center;
    }
    
    header nav ul li a {
        line-height: 2;
    }

    header nav ul li a:hover {
        background-color: var(--secondary-color);
        border-radius: 10px;
        color: var(--link-hover-text-color); 
    }

    .hero h1 {
        font-size: 40px;
    }
} */